body {

    font-family:'Courier New', Courier, monospace;
    background-image: url(https://pub-static.fotor.com/assets/bg/e9f1764c-0bdc-496a-be56-2aef89924b4b.jpg);
    color: #333;
    margin: 0;
    padding: 20px;
}